[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[difftool]
	prompt = false
[merge]
	tool = vimdiff
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status -sb
    stat = diff --stat
    dt = difftool
	unstage = reset HEAD --
	last = show --oneline --name-status
    cram = commit -a --amend --no-edit
	logo = log --oneline -5
	d = diff
#[url "git@github.com:"]
#    insteadOf = "https://github.com/"
[user]
	name = Dong Zhou
    #email = dong.zhou@schrodinger.com
    email = zhou.dong@gmail.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[branch]
	autosetupmerge = always
[push]
	default = simple
